In [1]:
import pandas

In [76]:
def create_dim_cur(table):
    dates = table.drop([0,1,2,3,4,5])
    dates = dates.melt(id_vars=['Titre :'], var_name= 'cur_code', value_name= 'one_euro_value')
    dates = dates.rename(columns = {'Titre :': 'cur_date'})
    dates = dates[(dates.one_euro_value != '-') & (dates.one_euro_value.notnull())]
    dates['cur_date']= pandas.to_datetime(dates['cur_date'], format='%d/%m/%Y')
    dates_max = dates[['cur_code', 'cur_date']]
    dates_max = dates_max.groupby('cur_code').max()
    dates = pandas.merge(dates, dates_max, 'inner', ['cur_code', 'cur_date'])
    dates = dates.rename(columns = {'cur_date': 'last_updated_date'})
    ser_code = pandas.DataFrame(table.iloc[0:1,1:])
    ser_code = ser_code.melt(var_name= 'cur_code', value_name= 'Serial_code')
    dim_currency = pandas.merge(ser_code, dates, 'inner', ['cur_code'])
    dim_currency['cur_code'] = dim_currency['cur_code'].str.rsplit('(', 1).str[1].str.rsplit(')', 1).str[0]
    return dim_currency

In [74]:
df = pandas.read_csv('http://webstat.banque-france.fr/fr/downloadFile.do?id=5385698&exportType=csv', delimiter= ';')

In [77]:
currency_date = create_dim_cur(df)
currency_date.head()

  cur_code           Serial_code last_updated_date one_euro_value
0      AUD  EXR.D.AUD.EUR.SP00.A        2021-04-22         1,5581
1      BGN  EXR.D.BGN.EUR.SP00.A        2021-04-22         1,9558
2      BRL  EXR.D.BRL.EUR.SP00.A        2021-04-22         6,6546
3      CAD  EXR.D.CAD.EUR.SP00.A        2021-04-22         1,5067
4      CHF  EXR.D.CHF.EUR.SP00.A        2021-04-22         1,1035

In [24]:
ser_code = df
ser_code = ser_code.rename(columns = {'Titre :': 'cur_code', 'Code série' : 'Serial_code'})
ser_code.head()

,0,1,2,3,4,5,6,7,8,9,...,8141,8142,8143,8144,8145,8146,8147,8148,8149,8150
Titre :,Code série :,Unité :,Magnitude :,Méthode d'observation :,Source :,23/04/2021,22/04/2021,21/04/2021,20/04/2021,19/04/2021,...,13/01/1999,12/01/1999,11/01/1999,10/01/1999,09/01/1999,08/01/1999,07/01/1999,06/01/1999,05/01/1999,04/01/1999
Dollar australien (AUD),EXR.D.AUD.EUR.SP00.A,Dollar Australien (AUD),Unités (0),Moyenne de la période (A),BCE (Banque Centrale Européenne) (4F0),"1,559","1,5581","1,5554","1,5492","1,5491",...,"1,862","1,809","1,8134",-,-,"1,8406","1,8474","1,882","1,8944","1,91"
Lev bulgare (BGN),EXR.D.BGN.EUR.SP00.A,Lev Nouveau (BGN),Unités (0),Moyenne de la période (A),BCE (Banque Centrale Européenne) (4F0),"1,9558","1,9558","1,9558","1,9558","1,9558",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Real brésilien (BRL),EXR.D.BRL.EUR.SP00.A,Real Bresilien (BRL),Unités (0),Moyenne de la période (A),BCE (Banque Centrale Européenne) (4F0),"6,5572","6,6546","6,6869","6,7117","6,7056",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dollar canadien (CAD),EXR.D.CAD.EUR.SP00.A,Dollar Canadien (CAD),Unités (0),Moyenne de la période (A),BCE (Banque Centrale Européenne) (4F0),"1,5062","1,5067","1,5137","1,5089","1,5038",...,"1,8123","1,7392","1,7463",-,-,"1,7643","1,7602","1,7711","1,7965","1,8004"

In [26]:
df.head()

,Titre :,Dollar australien (AUD),Lev bulgare (BGN),Real brésilien (BRL),Dollar canadien (CAD),Franc suisse (CHF),Yuan renminbi chinois (CNY),Livre chypriote (CYP),Couronne tchèque (CZK),Couronne danoise (DKK),...,Leu roumain (RON),Rouble russe (RUB),Couronne suédoise (SEK),Dollar de Singapour (SGD),Tolar slovène (SIT),Couronne slovaque (SKK),Baht thaïlandais (THB),Livre turque (TRY),Dollar des Etats-Unis (USD),Rand sud-africain (ZAR)
0,Code série :,EXR.D.AUD.EUR.SP00.A,EXR.D.BGN.EUR.SP00.A,EXR.D.BRL.EUR.SP00.A,EXR.D.CAD.EUR.SP00.A,EXR.D.CHF.EUR.SP00.A,EXR.D.CNY.EUR.SP00.A,EXR.D.CYP.EUR.SP00.A,EXR.D.CZK.EUR.SP00.A,EXR.D.DKK.EUR.SP00.A,...,EXR.D.RON.EUR.SP00.A,EXR.D.RUB.EUR.SP00.A,EXR.D.SEK.EUR.SP00.A,EXR.D.SGD.EUR.SP00.A,EXR.D.SIT.EUR.SP00.A,EXR.D.SKK.EUR.SP00.A,EXR.D.THB.EUR.SP00.A,EXR.D.TRY.EUR.SP00.A,EXR.D.USD.EUR.SP00.A,EXR.D.ZAR.EUR.SP00.A
1,Unité :,Dollar Australien (AUD),Lev Nouveau (BGN),Real Bresilien (BRL),Dollar Canadien (CAD),Franc Suisse (CHF),Yuan Ren Min Bi (CNY),Livre Cypriote (CYP),Couronne Tcheque (CZK),Couronne Danoise (DKK),...,Nouveau Ron (RON),Rouble Russe (RUB) (RUB),Couronne Suedoise (SEK),Dollar de Singapour (SGD),Tolar (SIT),Couronne Slovaque (SKK),Baht (THB),Nouvelle Livre Turque (TRY),Dollar des Etats-Unis (USD),Rand (ZAR)
2,Magnitude :,Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),...,Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0),Unités (0)
3,Méthode d'observation :,Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),...,Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A),Moyenne de la période (A)
4,Source :,BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),...,BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0),BCE (Banque Centrale Européenne) (4F0)

In [63]:
t = pandas.DataFrame(df.iloc[0:1,1:])
t.head()

,Dollar australien (AUD),Lev bulgare (BGN),Real brésilien (BRL),Dollar canadien (CAD),Franc suisse (CHF),Yuan renminbi chinois (CNY),Livre chypriote (CYP),Couronne tchèque (CZK),Couronne danoise (DKK),Couronne estonienne (EEK),...,Leu roumain (RON),Rouble russe (RUB),Couronne suédoise (SEK),Dollar de Singapour (SGD),Tolar slovène (SIT),Couronne slovaque (SKK),Baht thaïlandais (THB),Livre turque (TRY),Dollar des Etats-Unis (USD),Rand sud-africain (ZAR)
0,EXR.D.AUD.EUR.SP00.A,EXR.D.BGN.EUR.SP00.A,EXR.D.BRL.EUR.SP00.A,EXR.D.CAD.EUR.SP00.A,EXR.D.CHF.EUR.SP00.A,EXR.D.CNY.EUR.SP00.A,EXR.D.CYP.EUR.SP00.A,EXR.D.CZK.EUR.SP00.A,EXR.D.DKK.EUR.SP00.A,EXR.D.EEK.EUR.SP00.A,...,EXR.D.RON.EUR.SP00.A,EXR.D.RUB.EUR.SP00.A,EXR.D.SEK.EUR.SP00.A,EXR.D.SGD.EUR.SP00.A,EXR.D.SIT.EUR.SP00.A,EXR.D.SKK.EUR.SP00.A,EXR.D.THB.EUR.SP00.A,EXR.D.TRY.EUR.SP00.A,EXR.D.USD.EUR.SP00.A,EXR.D.ZAR.EUR.SP00.A

In [64]:
t = t.melt(var_name= 'cur_code', value_name= 'Serial_code')

In [65]:
t.head()

                  cur_code           Serial_code
0  Dollar australien (AUD)  EXR.D.AUD.EUR.SP00.A
1        Lev bulgare (BGN)  EXR.D.BGN.EUR.SP00.A
2     Real brésilien (BRL)  EXR.D.BRL.EUR.SP00.A
3    Dollar canadien (CAD)  EXR.D.CAD.EUR.SP00.A
4       Franc suisse (CHF)  EXR.D.CHF.EUR.SP00.A

In [42]:
currency_date['cur_date']= pandas.to_datetime(currency_date['cur_date'], format='%d/%m/%Y')

In [43]:
currency_date.head(20)

     cur_date                      cur one_euro_value
0  2021-04-22  Dollar australien (AUD)         1,5581
1  2021-04-21  Dollar australien (AUD)         1,5554
2  2021-04-20  Dollar australien (AUD)         1,5492
3  2021-04-19  Dollar australien (AUD)         1,5491
6  2021-04-16  Dollar australien (AUD)         1,5459
7  2021-04-15  Dollar australien (AUD)         1,5448
8  2021-04-14  Dollar australien (AUD)         1,5561
9  2021-04-13  Dollar australien (AUD)         1,5652
10 2021-04-12  Dollar australien (AUD)         1,5613
13 2021-04-09  Dollar australien (AUD)         1,5579
14 2021-04-08  Dollar australien (AUD)         1,5539
15 2021-04-07  Dollar australien (AUD)         1,5581
16 2021-04-06  Dollar australien (AUD)         1,5482
21 2021-04-01  Dollar australien (AUD)           1,55
22 2021-03-31  Dollar australien (AUD)         1,5412
23 2021-03-30  Dollar australien (AUD)         1,5419
24 2021-03-29  Dollar australien (AUD)         1,5398
27 2021-03-26  Dollar australien (AUD)         1,5459
28 2021-03-25  Dollar australien (AUD)         1,5548
29 2021-03-24  Dollar australien (AUD)         1,5532

In [13]:
dates = currency_date[['cur', 'cur_date']]

In [14]:
dates.head(20)

                        cur    cur_date
0   Dollar australien (AUD)  22/04/2021
1   Dollar australien (AUD)  21/04/2021
2   Dollar australien (AUD)  20/04/2021
3   Dollar australien (AUD)  19/04/2021
6   Dollar australien (AUD)  16/04/2021
7   Dollar australien (AUD)  15/04/2021
8   Dollar australien (AUD)  14/04/2021
9   Dollar australien (AUD)  13/04/2021
10  Dollar australien (AUD)  12/04/2021
13  Dollar australien (AUD)  09/04/2021
14  Dollar australien (AUD)  08/04/2021
15  Dollar australien (AUD)  07/04/2021
16  Dollar australien (AUD)  06/04/2021
21  Dollar australien (AUD)  01/04/2021
22  Dollar australien (AUD)  31/03/2021
23  Dollar australien (AUD)  30/03/2021
24  Dollar australien (AUD)  29/03/2021
27  Dollar australien (AUD)  26/03/2021
28  Dollar australien (AUD)  25/03/2021
29  Dollar australien (AUD)  24/03/2021

In [42]:
dates = dates.groupby('cur').max()

In [45]:
dates.head(20)

                              cur_date
cur
Baht thaïlandais (THB)      2021-12-04
Couronne danoise (DKK)      2021-12-04
Couronne estonienne (EEK)   2010-12-31
Couronne islandaise (ISK)   2021-12-04
Couronne norvégienne (NOK)  2021-12-04
Couronne slovaque (SKK)     2008-12-31
Couronne suédoise (SEK)     2021-12-04
Couronne tchèque (CZK)      2021-12-04
Dollar australien (AUD)     2021-12-04
Dollar canadien (CAD)       2021-12-04
Dollar de Hong Kong (HKD)   2021-12-04
Dollar de Singapour (SGD)   2021-12-04
Dollar des Etats-Unis (USD) 2021-12-04
Dollar neo-zélandais (NZD)  2021-12-04
Forint hongrois (HUF)       2021-12-04
Franc suisse (CHF)          2021-12-04
Kuna croate (HRK)           2021-12-04
Lats letton (LVL)           2013-12-31
Leu roumain (RON)           2021-12-04
Lev bulgare (BGN)           2021-12-04

In [47]:
currency_date = pandas.merge(currency_date, dates_max, 'inner', ['cur', 'cur_date'])

In [48]:
currency_date.head(20)

     cur_date                          cur one_euro_value
0  2021-04-22      Dollar australien (AUD)         1,5581
1  2021-04-22            Lev bulgare (BGN)         1,9558
2  2021-04-22         Real brésilien (BRL)         6,6546
3  2021-04-22        Dollar canadien (CAD)         1,5067
4  2021-04-22           Franc suisse (CHF)         1,1035
5  2021-04-22  Yuan renminbi chinois (CNY)         7,8181
6  2007-12-31        Livre chypriote (CYP)        0,58527
7  2021-04-22       Couronne tchèque (CZK)          25,86
8  2021-04-22       Couronne danoise (DKK)         7,4366
9  2010-12-31    Couronne estonienne (EEK)        15,6466
10 2021-04-22         Livre sterling (GBP)        0,86855
11 2021-04-22    Dollar de Hong Kong (HKD)         9,3474
12 2021-04-22            Kuna croate (HRK)         7,5718
13 2021-04-22        Forint hongrois (HUF)         363,52
14 2021-04-22    Roupie indonésienne (IDR)       17515,06
15 2021-04-22       Sheqel israélien (ILS)         3,9297
16 2021-04-22  Roupie Indienne (100 paise)         90,394
17 2021-04-22    Couronne islandaise (ISK)            151
18 2021-04-22           Yen japonais (JPY)          130,3
19 2021-04-22             Won coréen (KRW)        1346,21